.comboGeneralContainer {
    width: 100%;
    position: relative;
}
/* .optSection {
    display: none;
}
.selectInp:focus > .optSection {
    display: block;
} */
.selectInp {
    width: 100%;
    text-transform: capitalize;
}
.optSection {
    width: 100%;
    position: absolute;
    top: 110%;
    background-color: var(--navBarColor);
    box-shadow: var(--cardShadow);
    border-radius: var(--hardRadius);
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 12.5rem;
    z-index: 2;
}

.opts {
    font-size: 0.8rem;
    padding: 0.3125rem 0.625rem;
    text-transform: capitalize;
    transition: all 300ms ease-out;
}
.opts:hover {
    cursor: pointer;
    background-color: var(--siteColor);
    color: var(--backGroundColor);
}
